.container {
  display: flex;
  justify-items: start;
  align-items: start;
}

.image-container {
  display: flex;
  flex-direction: column;
}

.image-container > img {
  margin: 1rem;
  border-radius: 2rem;
  object-fit: cover;
  height: 400px;
  width: 200px;
}